/* styles.css */


#logContainer{
width: 80vw;
margin:auto;
}

#banner h1{
    font: normal normal normal 2.5em Georgia, sans-serif;

}

#banner{
    margin:auto;
    width: 100vw;
    height: 50px;
}

#logEntries {
    width: 70vw;
    white-space: pre-line;
    margin:auto
}

.log-entry {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    background-color: #e7e7e7;
}

.log-entry p{
    font:  normal normal normal 1.2em Georgia, sans-serif;
}
.log-entry img {
    display: block;
    max-width: 100%;
    margin-top: 5px;
    border: 3px solid black;
    border-radius: 6px;
}



#logInput{
    margin:auto;
    border: 4px solid black;
    border-radius: 9px;
    width: 70vw;
}

#saveButton,#imageInput-label{
    font: normal normal normal 1.3rem Leviticus, sans-serif;
    padding: 10px 15px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 4%;
    background-color: aliceblue;
  }


#imageInput{
    display:none;
}



  #inputButtons{
    width: 700px;
    margin:auto;
}